@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Mixin responsive px
@function responsive-px($min-px, $max-px, $min-vw, $max-vw) {
    @return calc(
        #{$min-px}px + (#{$max-px} - #{$min-px}) *
            ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw}))
    );
}

$primary-color: #d5772e;

body {
    padding: 0px;
    margin: 0px;
    background: $primary-color;
}

.btn-play {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-image: url(../imgs/inicio.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 110px 200px !important;
}

.modal-dialog {
    max-width: 850px !important;
}

.img-logo {
    margin: 0 auto;
}

.modal-header {
    justify-content: center !important;
    width: max-content;
    margin: 0 auto;
    border: 0 !important;
}

.modal-header {
    justify-content: center;
    .btn-close {
        margin: 0 !important;
    }
}

.modal-body {
    text-align: center;
    h1 {
        font-weight: 600;
        letter-spacing: 1.2;
    }
}

.modal-footer {
    justify-content: space-evenly !important;
    border: 0 !important;
}

// Estilos boton de inicio
.btn-w {
    position: relative;
    width: max-content;
    .flip {
        position: absolute;
        width: 160px;
        height: 48px;
        perspective: 500px;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -80px;
        button {
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transform: translateZ(-25px);
            transition: transform 0.3s;
            cursor: pointer;
            .front,
            .back {
                margin: 0;
                width: 160px;
                height: 48px;
                line-height: 48px;
                position: absolute;
                text-align: center;
                letter-spacing: 0.4em;
            }

            .front {
                background-color: $primary-color;
                color: #fff;
                transform: rotateY(0) translateZ(24px);
            }
            .back {
                background-color: rgba(#149210, 0.8);
                color: rgba(#fff, 0);
                transform: rotateX(90deg) translateZ(24px);
                overflow: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    top: -32%;
                    left: -10%;
                    width: 120%;
                    height: 50%;
                    background: #149210;
                    transform: rotate(8deg);
                    transition: all 0.5s ease;
                    transition-delay: 0.15s;
                }
            }

            &:hover {
                transform: translateZ(-24px) rotateX(-90deg);
                .front {
                    background: black;
                    transition: all 0.8s ease;
                }
                .back {
                    color: #fff;
                    transition: color 0.4s linear;
                    background: rgba(#149210, 0.8);
                    &:after {
                        transform: rotate(6deg) translate(100px, -18px);
                    }
                }
            }
        }
    }
}

.flip > button:nth-child(1) {
    background: none !important;
    border: none !important;
    display: flex !important;
}

.loader {
    // display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgba(000, 000, 000, 0.3);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    transition: all 200ms ease-in-out;
    opacity: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#myDiv {
    #board {
        margin-left: 50px;
        gap: 210px;
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../imgs/TimeBoard.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        .time-board {
            p {
                font-size: responsive-px(44, 54, 768, 1920);
            }
        }
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.modal-win {
    .modal-content {
        background-image: url(../imgs/win-modal.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 110px 0px !important;
        flex-direction: row;
        gap: 46px;

        .modal-win-left-side{
            width: 50%;
        }
        .modal-win-right-side{
            width: 50%;
            padding-left: 20px;
        }
    }

    .modal-dialog {
        max-width: 850px !important;
    }

    .img-logo {
        margin: 0 auto;
    }

    .modal-header {
        justify-content: center !important;
        width: max-content;
        margin: 0 auto;
        border: 0 !important;
    }

    .modal-header {
        justify-content: center;
        .btn-close {
            margin: 0 !important;
        }
    }

    .modal-body {
        text-align: center;
        h1 {
            font-weight: 600;
            letter-spacing: 1.2;
        }
    }

    .modal-footer {
        justify-content: space-evenly !important;
        border: 0 !important;
    }
}
